@import "../../variables";
.container{
    width: 90%;
    border: 2px solid $header-outline;
    border-radius: 16px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px 16px 20px 20px;

    @media screen and (min-width: 720px ){
        width: 50%;
        padding: 20px 30px;
    }
}
.logo{
    
    @media screen and (max-width: 720px ){
        width: 80px;
    }
}