@import "../../variables";
.container {
  width: 8rem;
  height: 8rem;
  background: $lizard-gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  z-index: 2;
  @media screen and (min-width: 720px) {
    width: 15rem;
    height: 15rem;
  }
}
.image {
  width: 80%;
  height: 80%;
  background-color: whitesmoke;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  @media screen and (max-width: 720px) {
    width: 36px;
    height: 36px;
  }
}
