@import "../../variables";
.container {
  width: 90px;
  height: 90px;
  background: $lizard-gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
    z-index: 2;
  @media screen and (min-width: 720px) {
    width: 120px;
    height: 120px;
  }
}
.image {
  width: 80%;
  height: 80%;
  background-color: whitesmoke;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  @media screen and (max-width: 720px) {
    width: 36px;
    height: 36px;
  }
}
